.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-div {
  width: 90%;
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: 2px solid gray;
}

.hobby-list {
  list-style: none;
}

.hobby-list li {
  padding: 1em;
  background-color: lightcyan;
  display: 'inline-block';
}

.hobby-list li img {
  height: 30px;
  margin-right: 20px;
}

.customer-service {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
}

.guarantee {
  width: 30%;
}

.guarantee-img {
  height: 60px;
}

.feedback {
  font-size: 1.5em;
}

.feedback-warning {
  font-size: 1.5em;
  color: red;
}

.count {
  color: maroon;
  font-weight: bold;
  font-size: 1.25em;
}

.counter-btn {
  width: 200px;
  height: 2.5em;
  background-color: teal;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
}
